<h1 style="align:left;background-color:black;color:white;">VIDEOSMASH</h1> 
<%= select_tag :genre, options_for_select(Video.genres) %>

<div style="align:center;">
<h2>Previously Viewed</h2>
<hr/>
<table>
<% @videos.each do |vid| %>
   <tr>
      <td><%= vid.title %></td><td><%= "(#{vid.genre})"</td> %>
   </tr>
<% end %>
</table>
</div>
<% end %>
